.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: var(--dark-background);
  color: var(--text);
}

.dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.dashboard__welcome {
  font-size: 1.2rem;
  color: var(--text);
}

.dashboard__add-button {
  background-color: var(--dark-blue-theme);
  color: var(--text);
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.dashboard__add-button:hover {
  background-color: var(--dark-blue-theme-hover);
}

.dashboard__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(230px, 250px));
  gap: 16px;
  width: 100%;
  max-width: 80%;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.dashboard__list-item {
  display: flex;
  justify-content: center;
}

.card--add {
  background-color: var(--dark-secondary);
  border: 2px dashed var(--grey-border);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 16px;
  text-align: center;
  width: 220px;

  margin: 16px auto;
  transition: transform 0.1s ease-in-out;
  color: var(--white);
}

.card--add:hover {
  background-color: var(--dark-secondary-hover);
  cursor: pointer;
}

.card__image-container--add {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.card__plus {
  font-size: 3rem;
  color: var(--text);
}
.card--form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card__input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--grey-border);
  border-radius: 4px;
  background-color: var(--dark-background);
  color: var(--text);
  font-size: 1rem;
}
