.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--dark-background);
  color: var(--text);
  box-sizing: border-box;
  width: var(--padding-width);
  margin-left: auto;
  margin-right: auto;
}

.dashboard_big
{
  width: 100%;
}

.dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.dashboard__welcome {
  font-size: 1.2rem;
  color: var(--text);
}

.dashboard__add-button {
  background-color: var(--dark-blue-theme);
  color: var(--text);
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.dashboard__add-button:hover {
  background-color: var(--dark-blue-theme-hover);
}

.dashboard__list {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(230px, 250px));
  gap: 16px;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.spacer
{
  width: 100%;
  height: 100px;
}

.family_form_outside
{
  background-color: #101010;
  padding-bottom: 40px;
  padding-top: 40px;
}

.dashboard__label
{
  font-size: 1.8rem;
  color: var(--super_light_blue_theme_color);
  text-align: center;
  width: 100%;
  margin: 0px;
  padding-top: 20px;
}

.family_form_inside
{
  display: grid;
  grid-template-columns: auto auto;
  width: var(--padding-width);
  margin-left: auto;
  margin-right: auto;
  
  
}

@media screen and (max-width: 768px)
{
  .family_form_inside
  {
    grid-template-columns: auto !important;
  }
  .family_form_explenations div
  {
    width: 100% !important;
    text-align: center !important;
  }

  .dashboard__list
  {
    justify-content: center !important;
  }

  .dashboard_join_family button
  {
    width: 90% !important;
    margin-left: 5% !important;
    margin-top: 10px !important;
  }

  .dashboard_join_family input
  {
    width: 90% !important;
    margin-left: 5%;
  }

}

.family_form_explenations
{
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 300px;
  align-items: center;
  display: flex;
  border-top: 2px solid var(--super_light_blue_theme_color);
  border-left: 2px solid var(--super_light_blue_theme_color);
}

.family_form_explenations p
{
  margin: 0 0 10px 0;
  font-size: 0.9rem;
}

.form_add_family
{
  width: 100%;
}

.form_add_family .form-file-input
{
  padding: 0px;
  width: 100%;
}

.form_add_family .form-file-input::-webkit-file-upload-button
{
  background-color: #101010;
  border: 2px solid var(--light_blue_theme_color);
  color: #bbb;
  padding: 10px 20px 10px 20px;
}

.form_add_family label
{
  margin-bottom: 10px;
  font-size: 0.9rem;
  display: inline-block;
  font-weight: 400;
}

.form_add_family input
{
  padding: 10px 1% 10px 1%;
  color: #bbb;
  border: 1px solid #bbb;
  background-color: rgba(0,0,0,0);
  width: 98%;
  margin-bottom: 15px;
}

.form_add_family button
{
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: var(--light_blue_theme_color);
  border: none;
  margin-left: auto;
  display: block;
}

.special_p
{
  margin-top: 30px !important;
}

.family_form_explenations h2
{
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 30px;
  color: var(--super_light_blue_theme_color);
  word-spacing: 1px;
}

.family_form_form
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: 2px solid var(--super_light_blue_theme_color);
  border-right: 2px solid var(--super_light_blue_theme_color);

}

.dashboard__list-item {
  display: flex;
  justify-content: center;
}

.card--add {
  background-color: var(--dark-secondary);
  border: 2px dashed var(--grey-border);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 16px;
  text-align: center;
  width: 220px;

  margin: 16px auto;
  transition: transform 0.1s ease-in-out;
  color: var(--white);
}

.card--add:hover {
  background-color: var(--dark-secondary-hover);
  cursor: pointer;
}

.card__image-container--add {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.card__plus {
  font-size: 3rem;
  color: var(--text);
}
.card--form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.card__input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--grey-border);
  border-radius: 4px;
  background-color: var(--dark-background);
  color: var(--text);
  font-size: 1rem;
}



.dashboard_join_family
{
  width: 100%;
}

.dashboard_join_family input
{
  background-color: var(--dark-background);
  border: 1px solid var(--super_light_blue_theme_color);
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  display: inline-block;
  width: 80%;
  outline: none !important;
  color: white;
}

.dashboard_join_family input:focus
{
  border: 1px solid var(--light_blue_theme_color);
}

.dashboard_join_family input:active
{
  border: 1px solid var(--light_blue_theme_color);
}

.dashboard_join_family button
{
  width: 20%;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid var(--light_blue_theme_color);
  background-color: var(--light_blue_theme_color);
  color: white;
}

.dashboard_join_family button:hover
{
  border: 1px solid var(--blue_theme_color);
  background-color: var(--blue_theme_color);
}