:root {
  --text: #fff;
  --dark-background: #121212;
  --dark-secondary: #1e1e1e;
  --grey-border: #333;
  --dark-blue-theme: #00448d;
  --dark-blue-theme-hover: #0053ac;
  --cancel: #b60000;
  --cancel-hover: #e40909;
}
